@import "../variables.scss";

.App {
  background: #e7f6ff;
  color: $color-black;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;
  .app_container {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 0 0 20px 20px;
    padding: 40px;
    margin: 212px auto 90px auto;
    width: 1140px;
    @include lg-devices {
      width: 960px;
      padding: 30px;
    }
    @include md-devices {
      width: 750px;
      padding: 30px;
    }
    @include sm-devices {
      padding: 15px;
      width: 90%;
    }
    @include xs-devices {
      padding: 15px;
      width: 90%;
    }
  }
}
