@import "../variables.scss";

.favourites__section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    &_title_wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    &_title_arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background: $color-white;
        border: 1px solid #f2f2f2;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 0 21px 0 0;
        cursor: pointer;
        transition: 0.4s ease;
        transform: none;
        &:hover {
            transition: 0.4s ease;
            transform: rotate(360deg) scale(1.1);
            box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        }
        span {
            transform: rotate(-90deg);
            padding-top: 12px;
            font-size: 25px;
            color: $color-grey;
        }
    }
    &_title {
        font-family: $font-main;
        font-weight: 700;
        font-size: 32px;
        line-height: 1;
        color: $color-black;
        word-break: break-word;
        margin: 0;
        text-align: left;
    }

    &_items {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        padding: 40px 0 0 0;
    }
    &_content_empty {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0 0 0;
        img {
            display: block;
            margin: 0;
            max-width: 100%;
            height: auto;
        }
        p {
            margin: 0 auto;
            font-family: $font-secondary;
            font-size: 16px;
            line-height: 24px;
            color: $color-grey;
            text-align: center;
            word-break: break-word;
        }
        p:not(:last-of-type) {
            margin: 10px auto 10px auto;
            font-family: $font-main;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            color: $color-black;
            text-align: center;
            word-break: break-word;
        }
        a {
            width: 100%;
        }
        .btn_add {
            @include btn-add;
        }
    }
    &_submit_btn {
        @include btn-add;
        margin-top: 0;
    }
}
