@import "../variables.scss";

.headerWrapper {
    position: fixed;
    left: 50%;
    top: calc(0% + 90px);
    transform: translate(-50%, 0);
    width: 100%;
    padding: 40px;
    border-bottom: 1px solid #eaeaea;
    background: $color-white;
    z-index: 100;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    @include xl-devices {
        max-width: 1140px;
    }
    @include lg-devices {
        max-width: 960px;
        padding: 40px 30px 40px 30px;
    }
    @include md-devices {
        max-width: 750px;
        padding: 40px 30px 40px 30px;
    }
    @include sm-devices {
        max-width: 90%;
        padding: 40px 15px 40px 15px;
    }
    @include xs-devices {
        max-width: 90%;
        padding: 15px;
    }

    .header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 100%;
        @include xs-devices {
            justify-content: center;
        }
        a {
            text-decoration: none;
        }
        &__logo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 0 0 56px;
            position: relative;
            font-family: $font-secondary;
            @include xs-devices {
                width: 100%;
                margin-bottom: 10px;
                flex-direction: row;
                padding: 15px 0 0 0;
            }
            img {
                max-width: 100%;
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                @include xs-devices {
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: calc(0% - 15px);
                }
            }
        }
        &__logo_title {
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: $color-black;
            font-weight: 700;
            margin: 0;
        }
        &__logo_descr {
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            color: $color-grey;
            margin: 0;
        }
        &__cart {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-start;
            margin-left: auto;
            cursor: pointer;
            padding: 10px;

            @include xs-devices {
                margin-left: 0;
            }

            .header__cart_amount {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                position: absolute;
                top: calc(0% - 7px);
                left: calc(0% + 24px);
                color: $btn-bg;
            }
            img {
                display: block;
                margin: auto;
                max-width: 18px;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
            span {
                font-family: $font-main;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #5c5c5c;
                margin-left: 10px;
            }
        }
        &__favourites {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 10px;
            margin-left: 5px;
            .favourites_count {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                position: absolute;
                top: calc(0% - 7px);
                left: calc(0% + 24px);
                color: #ff8585;
            }
            img {
                display: block;
                margin: auto;
                max-width: 18px;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        &__trash {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 10px;
            margin-left: 5px;
            cursor: pointer;
            i {
                color: red;
            }
        }
    }
}
