/*variables*/

$font-stack: "Jost", "Source Sans Pro", sans-serif;
$font-main: "Jost", sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;
$color-black: #000;
$color-white: #fff;
$color-grey: #9d9d9d;
$btn-bg: #9dd558;
$active-btn-bg: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);

/*Media quieries mixins*/
@mixin xs-devices {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin sm-devices {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}
@mixin md-devices {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin lg-devices {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin xl-devices {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin xxl-devices {
  @media (min-width: 1920px) {
    @content;
  }
}
@mixin landscape-orientation {
  @media (max-width: 991px) and (orientation: landscape) {
    @content;
  }
}

/* keyframes */
@keyframes disableBtn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
    pointer-events: none;
    min-height: initial;
  }
}
